NEXT_PUBLIC_API_BACKEND = 'your-domain/api'
NEXT_PUBLIC_API_WEBSOCKET_ENDPOINT = 'wss://your-domain/ws/sensors/'
NEXT_PUBLIC_PLAUSIBLE_DOMAIN = "your-domain", 
NEXT_PUBLIC_PLAUSIBLE_SRC = "your-plausible-domain/js/script.js",
NEXT_PUBLIC_EMAIL_ADDRESS_CONTACT = "your-email-for-contact"
NEXT_PUBLIC_URL_GEOPORTAL = "https://www.kaiserslautern.de/sozial_leben_wohnen/geoportal/index.html.de"
NEXT_PUBLIC_URL_EVENT_CALENDAR = "https://www.kaiserslautern.de/tourismus_freizeit_kultur/veranstaltungen/index.html.de"
NEXT_PUBLIC_URL_RIS_CALENDAR = "https://ris.kaiserslautern.de/buergerinfo/info.asp"
NEXT_PUBLIC_URL_WGA_CALENDAR = "https://www.wasgehtapp.de/"