@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  width: 100%;
  height: 92vh;
  position: relative;
  overflow: visible;
}

#map_small {
    width: 100%;
    height: 400px; /* Full viewport height */
}

.custom-zoom {
  top: 10px;
  right: 10px;
  left: auto; /* Override default left positioning */
}
.custom-zoom button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
}

.ol-control.base-map-selector {
  position: absolute;
  top: 85px; /* Directly under the zoom buttons */
  right: 45px; /* Align with the zoom buttons */
  z-index: 1000;
}

.ol-control.base-map-selector button {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  width: 34px;
  height: 34px;
}

.ol-control.base-map-selector button:hover {
  background-color: #f0f0f0;
}

.ol-control.base-map-selector button .toggle-button {
  top: 45px; /* Override default left positioning */
  border-radius: 2px;
  border: 2px solid #ccc;
}

/* Dropdown menu styles */
.ol-control.base-map-selector .dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 0px; /* Below the toggle button */
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: 160px;
}

.ol-control.base-map-selector .dropdown-menu div:hover {
  background-color: #f0f0f0;
}


.btn,
.btn-lg,
.btn-sm,
.btn-xs{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  font-size: 0.875rem;
  line-height: 1.5715;
  font-weight: 500;
  line-height: 1.25rem;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-lg{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-sm{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.btn-xs{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

